body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


input[type="checkbox"] {
  transform: scale(1.2);
}


button {
  padding: 10px 15px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.closed {
  border-left-color: #f44336;
  text-decoration: line-through;
  color:red;
}
