body {
    font-family: Arial, sans-serif;
    background-color: #e7dea8;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.app {
    background: rgb(241, 224, 224);
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}
input {
    width: 85%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-top: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 10px auto;
    gap: 10px;
}

.row input {
    width: 50%;
}

.priority {
    width: 85%;
    margin: 10px auto;
    text-align: left;
}

.priority label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#priority-select {
    width: 65%;
    padding: 8px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
}

button {
    padding: 8px 10px;
    position: relative;
    margin-right: 5px;
    border-color: black;
    border-radius: 1px;
    cursor: pointer;
}

.add-btn {
    background-color: lightgreen;
    border: 1px solid black;
}

.sort-btn {
    background-color: lightblue;
    border: 1px solid black;
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.completed {
    text-decoration: line-through;
    color: rgb(0, 128, 0);
}

.tick {
    background-color: green;
    color: white;
}

.delete {
    background-color: red;
    color: white;
}
.high-text {
    color: red;
    font-weight: bold;
}

.medium-text {
    color: orange;
    font-weight: bold;
}

.low-text {
    color: green;
    font-weight: bold;
}