body {
    font-family: Arial, sans-serif;
    background-color: #bdc4da;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.app {
    background: rgb(241, 224, 224);
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    width: 85%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #000000;
}

button {
    padding: 8px 10px;
    position: relative;
    margin-right: 5px;
    border-color: black;
    border-radius: 1px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.completed {
    text-decoration: line-through;
    color: rgb(0, 128, 0);
}


.tick {
    background-color: green;
    color: white;
}

.delete {
    background-color: red;
    color: white;
}
.add-btn {
    background-color: lightgreen;
    border: 1px solid black;
}